<template>
  <div class="table-container">
    <template v-if="filteredTableData">
      <table class="table">
        <thead>
          <tr>
            <th>
              <div @click="sortBy('id')" class="click-to-sort">
                ID
                <template v-if="sort.field==='id'">
                  <ion-icon name="arrow-down" v-if="sort.type==='asc'"></ion-icon>
                  <ion-icon name="arrow-up" v-if="sort.type==='desc'"></ion-icon>
                </template>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter ID" v-model="filters.id">
              </div>
            </th>
            <th>
              Name
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter Name" v-model="filters.name">
              </div>
            </th>
            <th>
              Price
              <div class="form-group d-flex">
                <input type="number" class="form-control" placeholder="Min" v-model="filters.price.min">
                <input type="number" class="form-control" placeholder="Max" v-model="filters.price.max">
              </div>
            </th>
            <th>
              Sold At
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Filter Sold At" v-model="filters.sold_at_name">
              </div>
            </th>
            <th>
              Stock Count
              <div class="form-group d-flex">
                <input type="number" class="form-control" placeholder="Min" v-model="filters.sold_at_stock_count.min">
                <input type="number" class="form-control" placeholder="Max" v-model="filters.sold_at_stock_count.max">
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <template v-for="tableRow in filteredTableData">
            <tr :key="tableRow.id">
              <td :rowspan="tableRow.sold_at.length">{{tableRow.id}}</td>
              <td :rowspan="tableRow.sold_at.length">{{tableRow.name}}</td>
              <td :rowspan="tableRow.sold_at.length">{{tableRow.price}}</td>
              <td>{{tableRow.sold_at[0].name}}</td>
              <td>{{tableRow.sold_at[0].stock_count}}</td>
            </tr>
            <template v-if="tableRow.sold_at.length > 1">
              <template v-for="(soldAtRow,i) in tableRow.sold_at">
                <tr :key="soldAtRow.id" v-if="i>0">
                  <td>{{soldAtRow.name}}</td>
                  <td>{{soldAtRow.stock_count}}</td>
                </tr>
              </template>
            </template>
          </template>
        </tbody>
      </table>
    </template>
  </div>
</template>

<script>
import { cloneDeep } from 'lodash';

export default {
  name: 'Table',
  data() {
    return {
      tableData: null,
      filters: {
        id: null,
        name: null,
        price: {
          min: null,
          max: null,
        },
        sold_at_name: null,
        sold_at_stock_count: {
          min: null,
          max: null,
        },
      },
      sort: {
        field: 'id',
        type: 'asc',
      },
    };
  },
  methods: {
    async getTableData() {
      const { data } = await this.axios.get('/fruits.json');
      this.tableData = data;
    },
    sortBy(field) {
      this.sort.field = field;
      if (!this.sort.type) this.sort.type = 'asc';
      else if (this.sort.type === 'desc') this.sort.type = 'asc';
      else if (this.sort.type === 'asc') this.sort.type = 'desc';
    },
  },
  computed: {
    filteredTableData() {
      if (!this.tableData) return null;

      let result = cloneDeep(this.tableData);

      // filter id,name,price
      result = result.filter(tableRow => {
        const { id, name, price } = this.filters;

        let filterPassed = true;

        if (filterPassed && id) {
          if (String(tableRow.id).indexOf(id) === -1) filterPassed = false;
        }

        if (filterPassed && name) {
          if (tableRow.name.toLowerCase().indexOf(name.toLowerCase()) === -1)
            filterPassed = false;
        }

        if (filterPassed && (price.min || price.max)) {
          let rowPrice = tableRow.price.replace('MYR ', '');
          if (price.min && Number(rowPrice) < Number(price.min))
            filterPassed = false;
          if (price.max && Number(rowPrice) > Number(price.max))
            filterPassed = false;
        }

        return filterPassed;
      });

      // filter sold at
      result = result.map(tableRow => {
        const { sold_at_name, sold_at_stock_count } = this.filters;

        if (tableRow.sold_at.length)
          tableRow.sold_at = tableRow.sold_at.filter(soldAtRow => {
            let filterPassed = true;

            if (filterPassed && sold_at_name) {
              if (
                soldAtRow.name
                  .toLowerCase()
                  .indexOf(sold_at_name.toLowerCase()) === -1
              )
                filterPassed = false;
            }

            if (
              filterPassed &&
              (sold_at_stock_count.min || sold_at_stock_count.max)
            ) {
              if (
                sold_at_stock_count.min &&
                soldAtRow.stock_count < Number(sold_at_stock_count.min)
              )
                filterPassed = false;
              if (
                sold_at_stock_count.max &&
                soldAtRow.stock_count > Number(sold_at_stock_count.max)
              )
                filterPassed = false;
            }

            return filterPassed;
          });

        return tableRow;
      });

      // filter empty sold at
      result = result.filter(tableRow => {
        return tableRow.sold_at.length > 0;
      });

      // sorting
      result.sort((obj1, obj2) => {
        if (this.sort.field)
          if (this.sort.type === 'asc')
            return obj1[this.sort.field] > obj2[this.sort.field];
          else if (this.sort.type === 'desc')
            return obj1[this.sort.field] < obj2[this.sort.field];
      });

      return result;
    },
  },
  mounted() {
    this.getTableData();
  },
};
</script>

<style scoped>
.table-container {
  max-width: 90%;
  margin: 20px auto;
}

td {
  vertical-align: middle;
}

input[type='text'] {
  max-width: 50%;
}

input[type='number'] {
  max-width: 100px;
}

.click-to-sort {
  cursor: pointer;
}
</style>
